= render partial: "layouts/header" 
- breadcrumb :categories
= render partial: 'layouts/navbar'
.body#back
  .content
    .categories
      .categories__box
        .categories__box__header
          カテゴリー一覧
        .categories__box__root
          - @root_categories.each do |category|
            .categories__box__root__category{data: {id: category.id}}
              = category.category
        - @root_categories.each_with_index do |rootCategory,index|
          .categories__box__index
            .categories__box__index__title{data: {name: rootCategory.id}}
              = rootCategory.category
            .categories__box__index__text
              = link_to(category_path(rootCategory.id), class: "categories__box__index__text__link") do
                すべて
              .categories__box__index__text__child
                - rootCategory.children.each do |child|
                  .categories__box__index__text__child__black
                    = child.category
                  .categories__box__index__text__child__blue
                    = link_to(category_path(child.id), class: "categories__box__index__text__child__blue__link") do
                      すべて
                    - child.children.each do |grandChild|
                      = link_to(category_path(grandChild.id), class: "categories__box__index__text__child__blue__link") do
                        = grandChild.category
            
= render partial: 'layouts/button'
= render partial: 'layouts/aside'
= render partial: 'layouts/footer'